body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* image styling */

.reigs1 {
  float: left;
  max-height: 150px;
  max-width: 150px;
  }

.reigs2 {
   float: right;
   max-height: 150px;
   max height: 150px;
  }

.Lsup {
    display: block;
    margin: 0 auto;
    width: 75%;
    height: 500px;
  }

  .Hendo {
    display: block;
    margin: 0 auto;
    width: 75%;
    height: 500px;
  }

  .Green {
    display: block;
    margin: 0 auto;
    width: 75%;
    height: 500px;
  }

.banner {
    max-height: 200px;
    width: 50%;
    margin-top: 20px;
  }

.BTFlogo {
    max-height: 180px;
    width: 180px;
    float: left;
  }

  .BTFlogo2 {
    max-height: 180px;
    width: 180px;
    float: right;
  }

/* text styling */

.headings-bottom {
  padding-bottom: 10px;
  text-transform: uppercase;
  color: black;
  }

.headings {
  margin-bottom: 20px;
  font-family: 'Holtwood One SC', serif;
  font-size: 3em;
  padding: 0 1.5em;
  color: white;
}

#plain {
  color:white;
  text-align: center;
}

.intro-text {
    font-size: 1.3em;
    color: black;
    font-family: 'Sura', serif;
    padding: 0 1.5em;
  }

.Adds {
  background-color: black;
  text-align: center;
  padding: 10px 0;
}

#tipsHere {
  color: red;
  font-size: 18px;
}

/* footer styling */

footer {
  background-color: black;
}

.footer-text {
  color: red;
  font-size: 1.2em;
}

/* header styling */

header {
  background-color: black;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.name a,
.main-nav a {
  text-align: center;
  display: block;
  padding: 10px 15px;
  color: red;
  text-transform: uppercase;
}

.name a:hover,
.main-nav a:hover {
  color: white;
  text-decoration: none;
}

/* dropdown menu */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a, {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropbtn {
  margin: 0 auto;
  background-color: black;
  padding: 10px 50px;
  border-style: none;
  text-transform: uppercase;
  font-size: 1.5em;
  color: white;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    text-align: right ;
    font-size: 1.5em;
    margin: 0 auto;
    min-width: 80px;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/* media queries */

@media (min-width: 768px) {
  .name,
  .main-nav {
    display: flex;
  }

  .main-nav {
    flex-direction: column;
    align-items: center;
  }

  .plain {
    text-align: left;
    margin-left: 18px;
  }
}

@media (min-width: 992px) {
  .main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav {
    flex-direction: row;
    align-items: center;
  }

  .plain {
    text-align: left;
    margin-left: -10px;
  }
}
