body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  padding-bottom: 10px;
}

.plain {
  color:white;
  text-align: center;
}

.banner {
    max-height: 100px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 20px;
  }

.explanation-bg {
  background-color: black;
}

img {
  max-height: 100px;
}

.bot-margin {
  padding-bottom: 20px;
 }

.explanation {
   color: red;
 }

 .header {
   width: 100%;
 }

 .bg-img {
   background-image: url("buildtheflock2.jpg");
   background-size: cover;
   width: 100%;
   margin-top:0;
 }

 header {
   background-color: black;
 }

 ul {
   margin: 0;
   padding: 0;
   list-style: none;
 }

 a {
   text-decoration: none;
 }

 .name a,
 .main-nav a {
   text-align: center;
   display: block;
   padding: 10px 15px;
   color: red;
   text-transform: uppercase;
 }

 .name a:hover,
 .main-nav a:hover {
   color: white;
   text-decoration: none;
 }

 /* footer styling */

 footer {
   background-color: black;
 }

 .footer-text {
   color: red;
 }

 .bg-img {
   width: 100%
 }


 @media (min-width: 768px) {
   .name,
   .main-nav {
     display: flex;
   }

   .main-nav {
     flex-direction: row;
     align-items: center;
   }
   .plain {
     text-align: left;
     margin-left: 18px;
   }
 }

 @media (min-width: 992px) {
   .main-header {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
   }
   .plain {
     text-align: left;
     margin-left: -10px;
   }
 }
