/* general styling */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.plain {
  color:white;
  text-align: center;
}

.bg-img {
  background-image: url("btffootball.jpg");
  background-size: cover;
  width: 100%;
  margin-top:0;
}

/* header styling */

header {
  background-color: black;
}

.header {
  width: 100%;
}

h1 {
  padding-bottom: 10px;
}

.banner {
    max-height: 100px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 20px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .name a,
  .main-nav a {
    text-align: center;
    display: block;
    padding: 10px 15px;
    color: red;
    text-transform: uppercase;
  }

  .name a:hover,
  .main-nav a:hover {
    color: white;
    text-decoration: none;
  }

/* explanation styling */

.explanation-bg {
    background-color: black;
    padding: 10px 0;
    margin-bottom: 20px;    
}

.explanation {
   color: red;
 }

/* adds styling */

.bot-margin {
  padding-bottom: 20px;
 }

 a {
   text-decoration: none;
 }

 img {
   height: 100px;
   width: 100px;
 }

 /*footer styling */

 footer {
   background-color: black;
 }

 .footer-text {
   color: red;
 }

/* media queries */

 @media (min-width: 768px) {
   .name,
   .main-nav {
     display: flex;
   }

   .main-nav {
     flex-direction: row;
     align-items: center;
   }
   .plain {
     text-align: left;
     margin-left: 18px;
   }
 }

 @media (min-width: 992px) {
   .main-header {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
   }
   .plain {
     text-align: left;
     margin-left: -10px;
   }
 }
