.reigs1 {
  float: left;
  max-height: auto;
  max-width: 250px;
  }

.reigs2 {
   float: right;
   max-height:250px;
   max height: 250px;
  }

.intro-text {
    font-size: 1.5em;
    color: white;
    background-color: black;
  }

.link {
  background-color: black;
  font-size: 24px;
  color:red;
}
