h1 {
  padding-bottom: 20px;
}

img {
  max-height: 100px;
}

.bot-margin {
  padding-bottom: 20px;
 }

.bg-img {
  background-image: url("buildtheflock2.jpg");
  background-size: cover;
  width: 100%;
}

.explanation {
   color: white;
 }

 .header {
   width: 100%;
 }
